/*font*/
/*color text*/
/*color background*/
/*color button background*/
/*fonts size*/
/*border*/
/*align*/
@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova/ProximaNovaRegular.ttf) format("truetype"), url(fonts/ProximaNova/ProximaNovaRegular.woff) format("woff"), url("fonts/ProximaNova/ProximaNovaRegular.svg#ProximaNova") format("svg"), url("fonts/ProximaNova/ProximaNovaRegular.woff2") format("woff2"); }
@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("fonts/ProximaNova/ProximaNovaBold.otf") format("opentype"); }
@font-face {
  font-family: ProximaNovaThin;
  src: url("fonts/ProximaNova/ProximaNovaThin.otf") format("opentype"); }
@font-face {
  font-family: ProximaNovaLight;
  src: url("fonts/ProximaNova/ProximaNovaLight.otf") format("opentype"); }
@font-face {
  font-family: PG Isadora Cyr Pro;
  src: local("PG Isadora Cyr Pro"), url(fonts/Isadora/PGIsadoraCyrPro-Regular.ttf) format("truetype"), url(fonts/Isadora/PGIsadoraCyrPro-Regular.woff) format("woff"), url("fonts/Isadora/PGIsadoraCyrPro-Regular.svg#PG Isadora Cyr Pro") format("svg"); }
@media (min-width: 768px) {
  .spoiler-questions-body .forms {
    display: flex; }
    .spoiler-questions-body .forms .form-auth {
      flex-grow: 1;
      background: #f8f8f8;
      padding: 15px 20px 20px 20px;
      margin: 0 10px 0 15px; }
    .spoiler-questions-body .forms .form-reg {
      flex-shrink: 1;
      background: #f8f8f8;
      padding: 15px 20px 20px 20px;
      margin: 0 15px 0 10px; } }
.add-questions {
  margin: 20px 0; }

.spoiler-questions-body {
  display: none;
  padding-top: 40px; }

.spoiler_links {
  cursor: pointer; }

.add-questions .spoiler {
  border: 1px solid #7c7c7c;
  box-shadow: 1px 2px 1px 1px #e2e2e2;
  padding: 5px;
  display: inline-block; }
.add-questions .spoiler-input {
  padding: 5px 40px;
  color: #ffffff;
  text-decoration: none;
  font-family: "PG Isadora Cyr Pro", Arial, regular;
  font-size: 18px;
  min-height: 30px;
  line-height: 20px;
  cursor: pointer; }

#questions-body .success {
  color: green;
  font-size: 14px;
  font-family: "ProximaNova", Arial, sans-serif;
  margin-top: 10px; }
#questions-body .spoiler_body p.add-check-error, #questions-body .spoiler_body p.registration-check-error {
  color: red; }

.tabs a.spoiler {
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  background: #603a2f;
  text-transform: uppercase;
  text-decoration: none; }
.tabs .auth-error {
  font-size: 16px;
  color: #ed008e; }
.tabs p.auth-check-error {
  color: red; }

#add_question {
  text-align: left; }
  #add_question .feed-add-post-form-but-wrap {
    border: none; }
  #add_question .feed-add-post {
    border: 1px solid #f0f1f2; }
  #add_question #recaptcha-question-0 {
    margin-top: 20px; }
  #add_question p {
    color: #6c727d;
    font-size: 14px;
    font-family: "ProximaNova", Arial, sans-serif; }
    #add_question p.example {
      color: #b0b3bb;
      font-size: 14px;
      font-family: "ProximaNova", Arial, sans-serif; }
    #add_question p.count {
      font-style: italic;
      color: #c2c6cb;
      font-size: 14px;
      font-family: "ProximaNova", Arial, sans-serif;
      margin-bottom: 20px; }
  #add_question input[type="text"] {
    border: 1px solid #e2e5e9;
    height: 34px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    color: #000000;
    font-size: 13px; }
  #add_question textarea {
    border: 1px solid #e2e5e9;
    width: 100%;
    padding: 5px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    color: #000000;
    font-size: 13px;
    height: 190px; }
  #add_question input[type="radio"] {
    margin-right: 7px;
    float: left; }
  #add_question span.radio-label {
    margin-right: 15px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    color: #000000;
    font-size: 13px;
    margin-right: 15px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    color: #000000;
    font-size: 13px; }
  #add_question .radio {
    float: none;
    line-height: 14px;
    display: inline-block;
    margin-bottom: 20px; }
  #add_question input[type="submit"] {
    background: #ffffff;
    color: #767676;
    font-size: 14px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    width: 170px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    box-shadow: 1px 2px 2px 1px #dedede;
    margin-top: 20px; }
  #add_question #reset-form {
    border: 0;
    color: #c2c6cb;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 15px;
    background: #ffffff; }

.spoiler-questions-body .add-check-error {
  text-align: left;
  color: #994d4d;
  font-size: 14px;
  font-family: "ProximaNova", Arial, sans-serif; }

#auth_question-check-error, #registration_question-check-error {
  color: #994d4d;
  text-align: left; }

#add_question .bxhtmled-top-bar-wrap .bxhtmled-top-bar-btn, #add_question .bxhtmled-top-bar-wrap .bxhtmled-top-bar-select, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-fontsize-wrap {
  display: none; }
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-bold, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-italic, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-underline, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-strike, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-remove-format, #add_question .bxhtmled-top-bar-wrap .bxhtmled-top-bar-color, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-ordered-list, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-unordered-list, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-align-left, #add_question .bxhtmled-top-bar-wrap .bxhtmled-button-quote {
  display: inline-block; }
#add_question .bxhtmled-iframe-cnt {
  overflow: hidden !important; }
#add_question .feed-add-post-text {
  padding-left: 0;
  padding-right: 0; }

.spoiler-questions-body .reason-title {
  font-family: "ProximaNova", Arial, sans-serif;
  color: #303030;
  font-size: 16px;
  margin-bottom: 0px;
  text-align: center; }
.spoiler-questions-body .reason-text {
  font-family: "ProximaNova", Arial, sans-serif;
  color: #303030;
  font-size: 14px;
  margin-bottom: 8px;
  text-align: center; }
.spoiler-questions-body .not-ban-error {
  font-size: 18px;
  font-family: "ProximaNova", Arial, sans-serif;
  color: #994d4d;
  text-align: center; }

div.bx-auth-reg input.bx-auth-input {
  vertical-align: middle; }
div.bx-auth-reg span.bx-auth-secure {
  background-color: #ffffff;
  border: 1px solid #DEDBC8;
  padding: 2px;
  display: inline-block;
  vertical-align: middle; }
div.bx-auth-reg div.bx-auth-secure-icon {
  background-image: url(images/sec.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 18px; }
div.bx-auth-reg div.bx-auth-secure-unlock {
  background-image: url(images/sec-unlocked.png); }

@media (max-width: 767px) {
  #registration_question input[type="submit"] {
    margin: 0 auto;
    display: block; }
  #registration_question .form-group {
    margin: 0 auto 5px auto;
    width: 230px;
    display: block; } }
@media (min-width: 768px) {
  #registration_question .captcha img {
    display: inline-block;
    margin-right: 10px;
    width: 35%; }
  #registration_question .captcha input[type="text"] {
    height: 42px;
    width: 60%;
    display: inline;
    float: right; }
  #registration_question .form-group {
    margin-bottom: 15px;
    display: inline-block; } }
#registration_question {
  text-align: left; }
  #registration_question p {
    margin-bottom: 3px;
    text-align: left;
    color: #6c727d;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    font-size: 12px; }
  #registration_question input[type="text"], #registration_question input[type="password"] {
    width: 230px;
    color: #303030;
    font-size: 12px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    border: 1px solid #e2e5e9;
    padding: 10px;
    margin-right: 20px; }
  #registration_question .form-group p {
    margin-bottom: 3px;
    text-align: left;
    color: #6c727d;
    font-size: 12px;
    font-family: "ProximaNovaLight", Arial, sans-serif; }
  #registration_question .form-group a {
    float: right;
    color: #6c727d;
    font-size: 12px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    font-weight: lighter; }
  #registration_question .checkbox {
    text-align: left;
    margin-top: 20px;
    line-height: 13px; }
    #registration_question .checkbox input[type="checkbox"] {
      margin-right: 10px;
      float: left; }
    #registration_question .checkbox label {
      color: #303030;
      font-size: 12px;
      font-family: "ProximaNovaLight", Arial, sans-serif;
      clear: both; }
  #registration_question input[type="submit"] {
    background: #ffffff;
    color: #767676;
    font-size: 14px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    width: 170px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    box-shadow: 1px 2px 2px 1px #dedede;
    margin-top: 15px; }
  #registration_question .captcha {
    background: #efeded;
    padding: 15px;
    margin: 10px 0 0 0;
    position: relative;
    display: inline-block; }
    #registration_question .captcha .captcha-title {
      color: #6c727d;
      font-size: 12px;
      font-family: "ProximaNovaLight", Arial, sans-serif;
      margin-bottom: 10px; }
    #registration_question .captcha .captcha-title-2 {
      color: #303030;
      font-size: 12px;
      font-family: "ProximaNovaLight", Arial, sans-serif;
      font-weight: lighter; }
    #registration_question .captcha img {
      display: inline-block;
      margin-right: 10px;
      width: 110px;
      height: 40px; }
    #registration_question .captcha input[type="text"] {
      height: 42px;
      width: 230px;
      display: inline;
      float: none;
      margin-right: 0; }
  #registration_question input[type="checkbox"] {
    display: none; }
  #registration_question .checkbox label > span {
    border: 1px solid #b8b8b8;
    display: inline-block;
    height: 10px;
    margin: 0 7px 0 0;
    position: relative;
    width: 10px; }
    #registration_question .checkbox label > span:after {
      position: absolute;
      content: "\f00c";
      color: #303030;
      font-family: FontAwesome;
      font-size: 8px;
      line-height: 8px;
      display: none; }
  #registration_question .checkbox label.checked > span:after {
    display: block; }

/*# sourceMappingURL=questions_add.css.map */
