/*font*/
/*color text*/
/*color background*/
/*color button background*/
/*fonts size*/
/*border*/
/*align*/
@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova/ProximaNovaRegular.ttf) format("truetype"), url(fonts/ProximaNova/ProximaNovaRegular.woff) format("woff"), url("fonts/ProximaNova/ProximaNovaRegular.svg#ProximaNova") format("svg"), url("fonts/ProximaNova/ProximaNovaRegular.woff2") format("woff2"); }
@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("fonts/ProximaNova/ProximaNovaBold.otf") format("opentype"); }
@font-face {
  font-family: ProximaNovaThin;
  src: url("fonts/ProximaNova/ProximaNovaThin.otf") format("opentype"); }
@font-face {
  font-family: ProximaNovaLight;
  src: url("fonts/ProximaNova/ProximaNovaLight.otf") format("opentype"); }
@font-face {
  font-family: PG Isadora Cyr Pro;
  src: local("PG Isadora Cyr Pro"), url(fonts/Isadora/PGIsadoraCyrPro-Regular.ttf) format("truetype"), url(fonts/Isadora/PGIsadoraCyrPro-Regular.woff) format("woff"), url("fonts/Isadora/PGIsadoraCyrPro-Regular.svg#PG Isadora Cyr Pro") format("svg"); }
#add_review #contentbox {
  width: 100%; }

.add-reviews {
  text-align: center;
  margin-bottom: 50px; }

#reviews-body .add-reviews {
  margin-top: 20px; }

.spoiler-reviews-body {
  display: none;
  padding-top: 20px; }

#reviews-statistics .spoiler-reviews-body {
  padding-top: 40px; }

.add-reviews .bg {
  background: #f8f8f8;
  padding: 25px 0; }
.add-reviews .success {
  color: green;
  font-size: 14px;
  font-family: "ProximaNova", Arial, sans-serif;
  margin-top: 10px; }
.add-reviews .spoiler {
  border: 1px solid #7c7c7c;
  box-shadow: 1px 2px 1px 1px #e2e2e2;
  padding: 5px;
  display: inline-block;
  background: #ffffff; }
.add-reviews .spoiler-input {
  padding: 5px 40px;
  color: #ffffff;
  background: #dbbfb9 url(images/button.jpg);
  text-decoration: none;
  font-family: "PG Isadora Cyr Pro", Arial, regular;
  font-size: 18px;
  min-height: 30px;
  line-height: 20px;
  cursor: pointer; }
.add-reviews .spoiler-reviews-body .add-check-error {
  text-align: left;
  color: #994d4d;
  font-size: 14px;
  font-family: "ProximaNova", Arial, sans-serif; }
.add-reviews .spoiler-reviews-body .not-buy-error {
  font-size: 18px;
  font-family: "ProximaNova", Arial, sans-serif;
  color: #994d4d; }
.add-reviews .spoiler-reviews-body .review-add-block {
  width: 80%;
  margin-left: 10%; }
.add-reviews .spoiler-reviews-body .review-add-title {
  color: #994d4d;
  font-size: 18px;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  text-align: left;
  margin-bottom: 25px; }
.add-reviews .spoiler-reviews-body .review-add-rating-title1 {
  color: #6c727d;
  font-size: 14px;
  font-family: "ProximaNova", Arial, sans-serif;
  text-align: left;
  margin-bottom: 5px; }
.add-reviews .spoiler-reviews-body .review-add-rating-title2 {
  color: #b0b3bb;
  font-size: 14px;
  font-family: "ProximaNova", Arial, sans-serif;
  text-align: left;
  margin-bottom: 10px; }
.add-reviews .spoiler-reviews-body .not-error {
  font-size: 18px;
  font-family: "ProximaNova", Arial, sans-serif;
  color: #994d4d;
  margin-bottom: 8px; }
.add-reviews .spoiler_links {
  cursor: pointer; }
.add-reviews .add-photo {
  width: 150px;
  height: 22px;
  position: relative;
  margin-top: 30px; }
.add-reviews input[type='file'] {
  width: 150px;
  height: 22px;
  opacity: 0; }
.add-reviews #add-photo-button {
  display: block;
  width: 175px;
  height: 22px;
  color: #767676;
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 22px;
  text-decoration: underline;
  cursor: pointer; }
.add-reviews .textarea-right-text p {
  color: #6c727d;
  font-size: 14px;
  font-family: "ProximaNova", Arial, sans-serif;
  margin-bottom: 10px; }
.add-reviews .textarea-right-text ul {
  margin-left: 13px; }
  .add-reviews .textarea-right-text ul li {
    color: #6c727d;
    font-size: 12px;
    font-family: "ProximaNova", Arial, sans-serif; }
    .add-reviews .textarea-right-text ul li span {
      color: #994d4d; }
.add-reviews ul#preview-photo {
  margin: 0; }
  .add-reviews ul#preview-photo li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-top: 30px; }
    .add-reviews ul#preview-photo li span.delete {
      position: absolute;
      right: 0;
      top: 0;
      color: #F00;
      font-size: 20px;
      cursor: pointer; }

.auth-error {
  font-size: 18px;
  color: #994d4d;
  font-family: "ProximaNova", Arial, sans-serif;
  text-align: left;
  margin-bottom: 20px; }

#auth-title, #register-title {
  color: #000000;
  font-size: 14px;
  font-family: "ProximaNova", Arial, sans-serif;
  text-align: left;
  margin-bottom: 20px; }

#auth_review-check-error, #registration_review-check-error {
  color: #994d4d;
  text-align: left; }

#add_review {
  text-align: left; }
  #add_review .rating_selection label {
    background: #ffffff;
    font-size: 14px;
    border: 1px solid #e2e5e9;
    display: inline-block;
    height: 33px;
    width: 33px;
    line-height: 33px;
    text-align: center; }
  #add_review p {
    color: #6c727d;
    font-size: 14px;
    font-family: "ProximaNova", Arial, sans-serif;
    margin-bottom: 0; }
    #add_review p.title {
      margin-bottom: 5px; }
    #add_review p.title-example {
      color: #b0b3bb;
      margin-bottom: 10px; }
    #add_review p.text {
      margin-bottom: 10px; }
    #add_review p.example {
      color: #b0b3bb;
      font-size: 14px;
      font-family: "ProximaNova", Arial, sans-serif; }
    #add_review p.count {
      font-style: italic;
      color: #c2c6cb;
      font-size: 14px;
      font-family: "ProximaNova", Arial, sans-serif;
      margin-bottom: 30px;
      margin-top: 5px; }
  #add_review input[type="text"] {
    border: 1px solid #e2e5e9;
    height: 34px;
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
    font-family: "ProximaNova", Arial, sans-serif;
    color: #000000;
    font-weight: lighter;
    font-size: 13px; }
  #add_review textarea {
    border: 1px solid #e2e5e9;
    padding: 5px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    color: #000000;
    font-weight: lighter;
    font-size: 13px;
    height: 190px;
    width: 100%; }
  #add_review input[type="radio"] {
    margin-right: 7px;
    float: left; }
  #add_review span.radio-label {
    margin-right: 15px;
    font-family: "ProximaNova", Arial, sans-serif;
    color: #000000;
    font-weight: lighter;
    font-size: 13px; }
  #add_review .radio {
    float: none;
    line-height: 14px;
    display: inline-block; }
  #add_review .captcha-block {
    margin-top: 30px; }
  #add_review input[type="submit"] {
    color: #767676;
    font-size: 14px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    width: 170px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    box-shadow: 1px 2px 2px 1px #dedede;
    margin-top: 30px;
    background: #ffffff; }
  #add_review #reset-form {
    background: #f8f8f8;
    border: 0;
    color: #c2c6cb;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 15px; }
  #add_review p.recommendated {
    margin-bottom: 5px; }
  #add_review p.add-field-title {
    margin-bottom: 5px;
    margin-top: 30px; }

.rating_selection {
  text-align: left;
  display: inline-block;
  margin-bottom: 40px; }
  .rating_selection input[type='radio'], .rating_selection span {
    display: none; }
  .rating_selection label {
    cursor: pointer; }
    .rating_selection label:before {
      display: inline-block;
      content: "\F005";
      font-size: 14px;
      color: #231f20;
      font-family: "FontAwesome"; }
  .rating_selection input:checked + label ~ label:before {
    color: #cfd3da; }
  .rating_selection:hover label[for]:before {
    color: #231f20; }
  .rating_selection:hover label:hover ~ label:before {
    color: #cfd3da; }

.add-reviews #add-photo-button .fa-plus {
  margin-right: 10px; }
.add-reviews .bxhtmled-top-bar-wrap .bxhtmled-top-bar-btn, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-top-bar-select, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-fontsize-wrap {
  display: none; }
.add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-bold, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-italic, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-underline, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-strike, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-remove-format, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-top-bar-color, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-ordered-list, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-unordered-list, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-align-left, .add-reviews .bxhtmled-top-bar-wrap .bxhtmled-button-quote {
  display: inline-block; }
.add-reviews .bxhtmled-iframe-cnt {
  overflow: hidden !important; }
.add-reviews .feed-add-post-text {
  padding-left: 0;
  padding-right: 0; }

.add-reviews .spoiler-reviews-body .reason-title {
  font-family: "ProximaNova", Arial, sans-serif;
  color: #303030;
  font-size: 16px;
  margin-bottom: 0px; }
.add-reviews .spoiler-reviews-body .reason-text {
  font-family: "ProximaNova", Arial, sans-serif;
  color: #303030;
  font-size: 14px;
  margin-bottom: 8px; }

#add_review .title-video, #add_review .title-presentation {
  margin-top: 30px; }
#add_review input.video, #add_review input.presentation {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .add-reviews .title, .add-reviews #add_review textarea {
    width: 58%; }

  .add-reviews .forms {
    display: flex; }
    .add-reviews .forms .form-auth {
      flex-grow: 1;
      background: #f8f8f8;
      padding: 15px 20px 20px 20px;
      margin: 0 10px 0 15px; }
    .add-reviews .forms .form-reg {
      flex-shrink: 1;
      background: #f8f8f8;
      padding: 15px 20px 20px 20px;
      margin: 0 15px 0 10px; } }
@media (max-width: 767px) {
  .add-reviews textarea {
    width: 100%; } }

/*# sourceMappingURL=reviews_add.css.map */
