@media (min-width: 768px) {
  /* .spoiler-comments-body .forms{display:table;width:100%;}
.spoiler-comments-body .forms .form-auth{display:table-cell;width:50%;}
.spoiler-comments-body .forms .form-reg{display:table-cell;width:50%;}*/
  .spoiler-comments-body .forms {
    display: flex;
    .form-auth {
      flex-grow: 1;
      width: 48%;
      position: relative;
      margin-right: 4%;
      background: $main_background;
      padding: 15px 0 15px 15px;
    }
    .form-reg {
      flex-shrink: 1;
      width: 48%;
      position: relative;
      background: $main_background;
      padding: 15px 0 15px 15px;
    }
  }
}

@media (max-width: 767px) {
  .spoiler-comments-body .forms {
    .form-auth {
      background: $main_background;
      margin-bottom: 30px;
    }
    .form-reg {
      background: $main_background;
    }
  }
}

.add-comments {
  margin: 20px 0;
}

.spoiler-comments-body {
  display: none;
  padding-top: 40px;
}

.spoiler_links {
  cursor: pointer;
}

.add-comments {
  .spoiler {
    border: $reviews_input_border;
    box-shadow: 1px 2px 1px 1px #e2e2e2;
    padding: 5px;
    display: inline-block;
  }
  .spoiler-input {
    padding: 5px 40px;
    color: $color_text_white;
    background: $background_button url(images/button.jpg);
    text-decoration: none;
    font-family: $font_siti;
    font-size: 18px;
    min-height: 30px;
    line-height: 20px;
    cursor: pointer;
  }
}

#comments-body {
  .title {
    width: 50%;
  }
  .success {
    color: green;
    font-size: $p_font_size;
    font-family: $main_font;
    margin-top: 10px;
  }
  .spoiler_body p {
    &.add-check-error {
      color: $color_siti;
    }
    &.registration-check-error {
      color: red;
    }
  }
}

#add_comment {
  text-align: left;
  p {
    color: #6c727d;
    font-size: $p_font_size;
    font-family: $main_font;
    &.example {
      color: #b0b3bb;
      font-size: $p_font_size;
      font-family: $main_font;
    }
    &.count {
      font-style: italic;
      color: #c2c6cb;
      font-size: $p_font_size;
      font-family: $main_font;
      margin-bottom: 20px;
    }
  }
  input[type="text"] {
    border: $body_comment_border;
    height: 34px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    font-family: $font_Light;
    color: $main_color;
    font-size: $min_font_size;
  }
  textarea {
    border: $body_comment_border;
    padding: 5px;
    font-family: $font_Light;
    color: $main_color;
    font-size: $min_font_size;
    height: 190px;
  }
  #comments-editor {
    width: 50%;
    display: block;
  }
  input[type="radio"] {
    margin-right: 7px;
    float: left;
  }
  span.radio-label {
    margin-right: 15px;
    font-family: $font_Light;
    color: $main_color;
    font-size: $min_font_size;
    margin-right: 15px;
    font-family: $font_Light;
    color: $main_color;
    font-size: $min_font_size;
  }
  .radio {
    float: none;
    line-height: 14px;
    display: inline-block;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    background: $color_background_white;
    color: $color_grey;
    font-size: $p_font_size;
    font-family: $font_Light;
    width: 170px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    box-shadow: 1px 2px 2px 1px #dedede;
    margin-top: 20px;
  }
  #reset-form {
    border: 0;
    color: #c2c6cb;
    font-family: $font_Light;
    font-size: $p_font_size;
    text-decoration: underline;
    margin-left: 15px;
    background: $color_background_white;
  }
}

.spoiler-comments-body .add-check-error {
  text-align: left;
  color: #994d4d;
  font-size: $p_font_size;
  font-family: $main_font;
}

#auth_comment-check-error, #registration_comment-check-error {
  color: #994d4d;
  text-align: left;
}

.add-comments .spoiler-comments-body #add_comment {
  .bxhtmled-top-bar-wrap {
    .bxhtmled-top-bar-btn, .bxhtmled-top-bar-select, .bxhtmled-button-fontsize-wrap {
      display: none;
    }
    .bxhtmled-button-bold, .bxhtmled-button-italic, .bxhtmled-button-underline, .bxhtmled-button-strike, .bxhtmled-button-remove-format, .bxhtmled-top-bar-color, .bxhtmled-button-ordered-list, .bxhtmled-button-unordered-list, .bxhtmled-button-align-left, .bxhtmled-button-quote {
      display: inline-block;
    }
  }
  .bxhtmled-iframe-cnt {
    overflow: hidden ! important;
  }
  .feed-add-post-text {
    padding-left: 0;
    padding-right: 0;
  }
}

.spoiler-comments-body {
  .reason-title {
    font-family: $main_font;
    color: $color_text_min_black;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: $text_align_main;
  }
  .reason-text {
    font-family: $main_font;
    color: $color_text_min_black;
    font-size: $p_font_size;
    margin-bottom: 8px;
    text-align: $text_align_main;
  }
  .not-ban-error {
    font-size: 18px;
    font-family: $main_font;
    color: #994d4d;
    text-align: $text_align_main;
  }
  .not-error {
    font-size: 18px;
    font-family: $main_font;
    color: #994d4d;
    margin-bottom: 8px;
  }
}

div.bx-auth-reg {
  input.bx-auth-input {
    vertical-align: middle;
  }
  span.bx-auth-secure {
    background-color: $color_text_whiteAE3;
    border: 1px solid #DEDBC8;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
  }
  div {
    &.bx-auth-secure-icon {
      background-image: url(images/sec.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 19px;
      height: 18px;
    }
    &.bx-auth-secure-unlock {
      background-image: url(images/sec-unlocked.png);
    }
  }
}

@media (max-width: 767px) {
  #registration_comment {
    input[type="submit"] {
      margin: 0 auto;
      display: block;
    }
    .form-group {
      margin: 0 auto 5px auto;
      width: 230px;
      display: block;
    }
  }
}

@media (min-width: 768px) {
  #registration_comment {
    .captcha {
      img {
        display: inline-block;
        margin-right: 10px;
        width: 35%;
      }
      input[type="text"] {
        height: 42px;
        width: 60%;
        display: inline;
        float: right;
      }
    }
    .form-group {
      margin-bottom: 15px;
      display: inline-block;
    }
  }
}

#registration_comment {
  text-align: left;
  p {
    margin-bottom: 3px;
    text-align: left;
    color: #6c727d;
    font-family: $font_Light;
    font-size: 12px;
  }
  input {
    &[type="text"], &[type="password"] {
      width: 230px;
      color: $color_text_min_black;
      font-size: 12px;
      font-family: $font_Light;
      border: $body_comment_border;
      padding: 10px;
      margin-right: 20px;
    }
  }
  .form-group {
    p {
      margin-bottom: 3px;
      text-align: left;
      color: #6c727d;
      font-size: 12px;
      font-family: $font_Light;
    }
    a {
      float: right;
      color: #6c727d;
      font-size: 12px;
      font-family: $font_Light;
      font-weight: lighter;
    }
  }
  .checkbox {
    text-align: left;
    margin-top: 20px;
    line-height: 13px;
    input[type="checkbox"] {
      margin-right: 10px;
      float: left;
    }
    label {
      color: $color_text_min_black;
      font-size: 12px;
      font-family: $font_Light;
      clear: both;
    }
  }
  input[type="submit"] {
    background: $color_background_white;
    color: $color_grey;
    font-size: $p_font_size;
    font-family: $font_Light;
    width: 170px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    box-shadow: 1px 2px 2px 1px #dedede;
    margin-top: 20px;
  }
  .captcha {
    background: #efeded;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    position: relative;
    .captcha-title {
      color: #6c727d;
      font-size: 12px;
      font-family: $font_Light;
    }
    .captcha-title-2 {
      color: $color_text_min_black;
      font-size: 12px;
      font-family: $font_Light;
      font-weight: lighter;
    }
    img {
      display: inline-block;
      margin-right: 10px;
      width: 35%;
      height: 40px;
    }
    input[type="text"] {
      height: 42px;
      width: 60%;
      display: inline;
      float: right;
      margin-right: 0;
    }
  }
}