.header_top_block__menu_wrapper {
  overflow-y: initial;
  overflow-x: clip;
  flex-grow: 1;
}

.oh1-top-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
} 
.oh1-top-menu__list-item:not(.mm-listitem) { 
  padding: 8px 16px;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.oh1-top-menu__list-item:not(.mm-listitem):hover {
  box-shadow: inset 0px 2px 0px 0px var(--main-color);
}
.oh1-top-menu__sublist:not(.mm-listview) {
  display: none;
}
.oh1-top-menu__list-item:not(.mm-listitem):hover .oh1-top-menu__sublist {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 150;
  background-color: #fff;
  border: 1px solid #ededed;
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 10%);
}
.oh1-top-menu__sublist-item:not(.mm-listitem) { 
  padding: 8px 16px;
  margin: 0;
  border-bottom: 1px solid #ededed;
}
.oh1-top-menu__list-item:not(.mm-listitem)[data-more] .oh1-top-menu__sublist {
  left: unset;
  right: 0;
}
.oh1-top-menu__list-item[data-more]:not(.mm-listitem):hover .oh1-top-menu__list-item {
  box-shadow: unset;
  padding: 8px 16px;
  margin: 0;
  border-bottom: 1px solid #ededed;
}
.oh1-top-menu__list-item:not(.mm-listitem)[data-more="false"] {
  display: none;
}
.oh1-top-menu__list-item:not(.mm-listitem)[data-more="true"] {
  display: list-item;
}