.review-auth__inner-container .captcha {
    display: flex;
}

.review-auth__inner-container .captcha .main-input-md__wrapper {
    flex-grow: 1;
    margin-left: 10px;
}

.review-auth__inner-container .captcha img {
    margin-bottom: 0.5rem;
    flex-shrink: 0;
}

.review-auth__inner-container .captcha {
    display: block;
}

.review-auth__inner-container .captcha .main-input-md__wrapper {
    margin-left: 0;
    margin-top: 1rem;
}

.bx-auth-reg-anonymous__captcha {
    display: flex;
    align-items: center;
}

.bx-auth-reg-anonymous__captcha.feedback_block__captcha {
    margin: 0;
}

.bx-auth-reg-anonymous__captcha-image-container {
    display: flex;
    align-items: center;
    width: 206px;
    margin-bottom: 0.5rem;
}

.bx-auth-reg-anonymous__captcha .captcha-refresh {
    fill: var(--main-color);
    cursor: pointer;
    margin-left: 10px;
}

.bx-auth-reg-anonymous__captcha-image {
    height: 50px;
}

.bx-auth-reg-anonymous__captcha .main-input-md__wrapper {
    width: calc(100% - 206px);
    margin-right: 20px;
}


@media (max-width: 500px) {
    .bx-auth-reg-anonymous__captcha {
        flex-direction: column;
    }

    .bx-auth-reg-anonymous__captcha .main-input-md__wrapper {
        width: 100%;
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .bx-auth-reg-anonymous__captcha-image-container {
        width: 100%;
    }
}
