.main_btn.comment_submit {
    display: inline-flex;
    margin-bottom: 10px;
}

.add-comments .main-input-md__wrapper {
    display: block;
    margin: 20px 0;
}

.add-comments__btn .spoiler__comments {
    display: flex;
    justify-content: center;
}

.main_btn.comment_cancel {
    display: inline-flex;
    margin-bottom: 10px;
    margin-left: 1rem;
    background-color: transparent;
    color: var(--main-color);
}

.main_btn.comment_cancel:hover {
    background-color: transparent;
    border-color: var(--main-color-hover);
    color: var(--main-color-hover);
}

.add-comments .spoiler {
    display: flex;
    justify-content: center;
}

.add-comments.add-comments__btn {
    margin-top: 30px;
}

.spoiler-comments-body .auth_forms {
    display: flex;
    justify-content: space-between;
}

.auth_forms .form-auth {
    width: calc(50% - 10px);
    padding: 30px;
    background-color: #F7F7F7;
}

.auth_forms .form-reg {
    width: calc(50% - 10px);
    padding: 30px;
    background-color: #F7F7F7;
}

.add-comments.add-comments__btn {
    margin: 0;
}

.add-comments.add-comments__btn .main_btn {
    padding-left: 30px;
    padding-right: 30px;
}

.spoiler-comments-body {
    display: none;
    padding-top: 20px;
}

.add-new-comment {
    display: none;
    padding-top: 20px;
}

.spoiler-comments-body {
    display: none;
    padding-top: 20px;
}

.spoiler_links {
    cursor: pointer;
}

#comments-body .title {
    width: 50%;
}

#comments-body .success {
    color: green;
    font-size: 14px;
    font-family: "ProximaNova", Arial, sans-serif;
    margin-top: 10px;
}

#comments-body .spoiler_body p.add-check-error {
    color: #a76e6e;
}

#comments-body .spoiler_body p.registration-check-error {
    color: red;
}

#add_comment {
    text-align: left;
}

#add_comment textarea {
    border: 1px solid #e2e5e9;
    padding: 5px;
    font-family: "ProximaNovaLight", Arial, sans-serif;
    color: #000000;
    font-size: 13px;
    height: 190px;
}

#add_comment #comments-editor {
    display: block;
}

.spoiler-comments-body .add-check-error {
    text-align: left;
    color: #994d4d;
    font-size: 14px;
    font-family: "ProximaNova", Arial, sans-serif;
}

#auth_comment-check-error, #registration_comment-check-error {
    color: #994d4d;
    text-align: left;
}

.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-bold,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-italic,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-underline,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-strike,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-remove-format,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-remove-format,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-top-bar-color,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-ordered-list,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-unordered-list,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-align-left,
.add-comments .spoiler-comments-body #add_comment .bxhtmled-top-bar-wrap .bxhtmled-button-quote {
    display: inline-block;
}

.add-comments .spoiler-comments-body #add_comment .bxhtmled-iframe-cnt {
    overflow: hidden !important;
}

.add-comments .spoiler-comments-body #add_comment .feed-add-post-text {
    padding: 0;
}

.spoiler-comments-body .reason-title {
    font-family: "ProximaNova", Arial, sans-serif;
    color: #303030;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}

.spoiler-comments-body .reason-text {
    font-family: "ProximaNova", Arial, sans-serif;
    color: #303030;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
}

.spoiler-comments-body .not-ban-error {
    font-size: 18px;
    font-family: "ProximaNova", Arial, sans-serif;
    color: #994d4d;
    text-align: center;
}

.spoiler-comments-body .not-error {
    font-size: 18px;
    font-family: "ProximaNova", Arial, sans-serif;
    color: #994d4d;
    margin-bottom: 8px;
}

.add-comments__buttons {
    margin-top: 10px;
}

.feed-add-post-text {
    border: 1px solid #ededed;
}
