.product-rating {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F7F7F7;
}

.product-rating__title {
  padding: 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}

.product-rating__col {
  -ms-flex-preferred-size: calc(33.3333333333% - 10px);
      flex-basis: calc(33.3333333333% - 10px);
}

.product-rating__stars-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.rating__button-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_btn.product-rating__write-review {
  white-space: nowrap !important;
  padding-left: 60px;
  padding-right: 65px;
}

.review-line {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  line-height: 22px;
}

.review-line__empty-line {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #E6E6E6;
  margin: 0 10px;
}

.review-line__lines-container {
  width: 100%;
}

.review-line__empty-line-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
}

.review-line__filled-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.review-line__text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-line__reviews-counter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-line__reviews-counter-item,
.review-line__text-item {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.rating__lines-col {
  color: #808080;
}
.rating__lines-col .review-line__empty-line-wrapper:nth-child(1) .review-line__filled-line {
  background-color: #1CBF60;
}
.rating__lines-col .review-line__empty-line-wrapper:nth-child(2) .review-line__filled-line {
  background-color: #99C21D;
}
.rating__lines-col .review-line__empty-line-wrapper:nth-child(3) .review-line__filled-line {
  background-color: #FFBF00;
}
.rating__lines-col .review-line__empty-line-wrapper:nth-child(4) .review-line__filled-line {
  background-color: #FF8D29;
}
.rating__lines-col .review-line__empty-line-wrapper:nth-child(5) .review-line__filled-line {
  background-color: #FF4C5B;
}

.product-rating__icons-container {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.product-rating__icons-wrapper {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}
.product-rating__icons-wrapper.product-rating__icons-wrapper_yellow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.product-rating__icon {
  fill: #DADADA;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.product-rating__icon.product-rating__icon_yellow {
  fill: #FFB800;
}

.add-reviews .spoiler {
  margin-top: 20px;
}

.spoiler-input.main_btn {
  padding-left: 60px;
  padding-right: 60px;
}

.reviews-container__recommendated {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #00B02A;
}

.rating__stars-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-rating__middle {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.product-rating__icons-container-resizer {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.reviews-share,
.quote {
  line-height: 26px;
}

.reviews-container__footer-item {
  line-height: 26px;
}
.reviews-container__footer-item .spoiler:hover {
  color: var(--main-color);
}
.reviews-container__footer-item:hover {
  color: var(--main-color);
}

.reviews-medium-rating {
  color: #4D4D4D;
}

@media (max-width: 900px) {
  .product-rating__col {
    -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px);
  }

  .product-rating__col.rating__button-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
    -webkit-box-pack: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .product-rating {
    padding: 20px;
  }
}
@media (max-width: 560px) {
  .product-rating {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .product-rating__col {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .product-rating__col.rating__button-col {
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .product-rating__stars-container {
    margin-top: 0;
  }

  .product-rating__title {
    text-align: center;
  }

  .product-rating__stars-container {
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .reviews-medium-rating {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .product-rating {
    margin-bottom: 20px;
  }
}