.review-menu-tabs__item {
    display: inline-block;
    height: 41px;
    padding: 10px 20px;
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;

    &.active {
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }

    &:hover {
        color: var(--main-color);
    }
}

.review-menu-tabs {
    border-bottom: 1px solid #ededed;
}

@font-face {
    font-family: PG Isadora Cyr Pro;
    src: url(fonts/Isadora/PGIsadoraCyrPro-Regular.eot) format('eot'),
    url(fonts/Isadora/PGIsadoraCyrPro-Regular.ttf) format('truetype'),
    url(fonts/Isadora/PGIsadoraCyrPro-Regular.woff) format('woff'),
    url("fonts/Isadora/PGIsadoraCyrPro-Regular.svg#PG Isadora Cyr Pro")
    format("svg");
}

@media ( max-width : 767px) {
    .tabs ul.tabs-caption {
        text-align: center;
    }
    .tabs a.open_window {
        float: none;
    }
    .tabs .modal-link {
        text-align: center;
    }
}

@media ( min-width : 768px) {
    a.open_window {
        float: right;
    }
}
/*Табы*/
.tabs-content {
    display: none;
    /* по умолчанию прячем все блоки */
}

.tabs-content.active {
    display: block;
    /* по умолчанию показываем нужный блок */
}

.tabs .tabs-caption {
    border-bottom: 1px solid #e2e5e9;
}

.tabs ul.tabs-caption {
    margin: 0;
    padding: 4px;
}

.tabs ul.tabs-caption li i {
    margin-right: 6px;
}

.tabs ul.tabs-caption li:hover {
    color: #a6aaaf;
}

.tabs ul.tabs-caption li.active {
    color: #303030;
    cursor: default;
}

.tabs ul.tabs-caption {
    padding: 0;
}

.review-menu-tabs {
    margin: 0;
}

.comments-body {
    border: 1px solid #ededed;
    border-top: 0;
}

.questions-body {
    border: 1px solid #ededed;
    border-top: 0;
}

@media (max-width: 1024px) {
    .reviews-body {
        border: 1px solid #ededed;
        border-top: 0;
    }
}
