.comments-container {
    margin-bottom: 30px;

    .child-comment {
        border-left: 4px solid #EDEDED;
    }

    .item {
        .border-bottom {
            border-bottom: 1px dashed #e2e5e9;
            padding-top: 5px;
        }

        .avatar {
            float: left;
            width: 94px;
            height: 94px;
            display: flex;
            text-align: center;
            border: 1px solid #e6e6e6;
            margin-right: 25px;
            background: #FFF;
        }

        .user-info, .comments {
            display: table-cell;
        }

        .user-info {
            width: 40%;
        }

        .avatar-inner {
            margin: auto;
            background: #FFF;
        }

        .username, .reply-header {
            font-family: "ProximaNova", Arial, sans-serif;
            color: #303030;
            font-size: 14px;
        }

        .age, .country {
            font-family: "ProximaNova", Arial, sans-serif;
            color: #303030;
            font-size: 14px;
        }

        .age span, .country span {
            color: #6c727d;
            font-size: 14px;
            padding-right: 10px;
            font-family: "ProximaNovaLight", Arial, sans-serif;
            width: 75px;
            display: inline-block;
        }

        img {
            display: inline;
        }

        .time {
            font-family: "ProximaNovaLight", Arial, sans-serif;
            color: #6c727d;
            font-size: 12px;
        }

        .text {
            font-family: "ProximaNovaLight", Arial, sans-serif;
            color: #303030;
            font-size: 14px;
            vertical-align: top;
        }

        .username {
            margin-bottom: 13px;
            display: inline-block;
            border-bottom: 1px solid #d8d8d8;
        }

        .age {
            margin-bottom: 0px;
        }

        .time {
            margin-bottom: 10px;
        }
    }

    .shopanswer {
        background: #f8f8f8;
        padding: 30px 25px;

        .user-info, .text {
            width: auto;
        }

        .user-info {
            float: left;
        }

        .username {
            color: #946363;
            border-bottom: 0;
            text-decoration: none;
        }

        .text {
            color: #af7676;
            font-family: "ProximaNovaLight", Arial, sans-serif;
        }
    }

    .level-1 {
        padding-left: 30px;
    }

    .level-2 {
        padding-left: 60px;
    }

    .level-3 {
        padding-left: 90px;
    }

    .level-4 {
        padding-left: 120px;
    }

    .level-5 {
        padding-left: 150px;
    }

    .level-6 {
        padding-left: 180px;
    }

    .level-7 {
        padding-left: 210px;
    }

    .level-8 {
        padding-left: 240px;
    }

    .level-9 {
        padding-left: 270px;
    }

    .comments {
        vertical-align: top;
    }
}

#comments-body {
    .dnone {
        display: none;
    }
}

@media (max-width: 767px) {
    #comments-body {
        .level-1 {
            padding-left: 10px;
        }

        .level-2 {
            padding-left: 20px;
        }

        .level-3 {
            padding-left: 30px;
        }

        .level-4 {
            padding-left: 40px;
        }

        .level-5 {
            padding-left: 45px;
        }

        .level-6 {
            padding-left: 50px;
        }

        .level-7 {
            padding-left: 50px;
        }

        .level-8 {
            padding-left: 50px;
        }

        .level-9 {
            padding-left: 50px;
        }
    }
}
