#loadMore {
  margin-bottom: 2rem;
  text-align: center;
  color: #949393;
  cursor: pointer;
}
#loadMore .icon-nav_button {
  display: inline;
}
#loadMore .icon-nav_button::before {
  top: -1px;
  position: relative;
}

.catalog_content__category_block_img {
  overflow: hidden;
}

.catalog_content__category_comment {
    margin-bottom: 2rem;
}

.catalog_content__category{
    display: flex;
}

.catalog_content__category_item{
    margin: 10px;
}

.catalog_content__category_item .catalog_content__category_img_title{
    text-align: center;
}
